* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0e17;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button {
    background-color: #fffffe;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 #a7a9be;
}

button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 #a7a9be;
}